.DS_Store
.vscode/settings.json
.ipynb_checkpoints/
__pycache__/
c_1.sh
*.gz
*.xml
*.aux
*.log
*.maf
*.mtc
*.mtc0
*.out
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.toc
reactive.nb
stationary.asv

figures/static/*pdf

data/*
matlab_data/*
checks/*
*txt
*csv
notebooks/DefectingNash/
src/evolution_simulations/ErrorGrid.zip
src/evolution_simulations/ErrorGrid/
src/evolution_simulations/ErrorSim.zip
src/evolution_simulations/ErrorSim/
src/evolution_simulations/ErrorSim_2/
notebooks/DefectingNashCounting/

# Folder for CH to keep track of the history
oldfiles/

# CH's Mathematica and Matlab calculations
mathematica/
matlab/

